*{
	margin: 0;
	padding: 0;
}
header{
	border-bottom: 2px solid black;
	text-align: center;
	font-size: 24px;
	padding-bottom: 5px;
}
.indexFlexBody{
	display: grid;
	flex-direction: column;
}
.wrapper{
	display: flex;
	flex-direction: row;
}
.lijst{
	width: 250px;
	height: 551px;
	font-size: 14px;
	background-color: rgba(0,0,0,0.3);
	border-left: 2px solid black;
	border-right: 2px solid black;
	margin-left: 100px;
}
.lijst a{
	color: black;
	text-decoration: none;
	padding-left: 2px;
}
.line{
	border-left: 2px solid black;
	margin-left: 135px;
	height: 425px;
}
.line2{
	border-left: 2px solid black;
	height: 425px;
}
.gameInfo{
	margin: 0 auto;
	width: 750px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	padding: 0px 20px;
}
.gameInfo > img{
	width: 45%;
	height: 45%;
	margin: 0 auto;
}
#planner{
	width: 250px;
	height: 551px;
	font-size: 14px;
	margin-right: 100px;
	background-color: rgba(0,0,0,0.3);
	border-left: 2px solid black;
	border-right: 2px solid black;
}
#planner > h3{
	margin-left: 2px;
}
#chooseGame{
	border: 1px solid black;
	padding: 1px;
	width:200px;
	height: 20px;
	border-radius: 2px;
	margin: 2px 0px;
}
button.Planbtn{
	outline: none;
	border: 1px solid black;
	border-radius: 4px;
	height: 40px;
	width: 250px;
	margin: 0 auto;
	margin-top: 100px;
}
button.Planbtn:hover{
	cursor: pointer;
	outline: 2px red solid;
	font-size: 18px;
	outline-width: 3px;
	outline-offset: 3px;
	border: none;
	transition-duration: 0.2s;
}
h2{
	padding-left: 2px;
	border-bottom: 1px solid black;
	text-align: center;
}
h3{
	display: inline;
}
a{
	color: black;
	text-decoration: none;	
}
label{
	display: inline-block;
  	width:200px;
  	padding: 2px 0px;

}
form{
	background-color: rgba(0,0,0,0.3);
	height: 551px;
	border-left: 2px solid black;
	border-right: 2px solid	black;
	margin: 0 auto;
}
input{
	border: 1px solid black;
	padding: 1px;
	width:200px;
	height: 18px;
	border-radius: 2px;
}
form p{
	padding: 0px 2px;
}
.btn{
	outline: none;
	position: relative;
	left: 298px;
	top: 5px;
	background-color: white;
	padding: 5px;
	border: none;
	border-radius: 2px;
}
.btn:hover{
	cursor: pointer;
	outline: 2px lightgreen solid;
	font-size: 15px;
	outline-width: 3px;
	outline-offset: 1.5px;
	border: none;
	transition-duration: 0.2s;
}
.nameLinks:hover{
	font-size: 15px;
	transition-duration: 0.2s;
}
button{
	outline: none;
	background-color: white;
	padding: 3px;
	border: none;
	border-radius: 2px;
	color: black;
	margin-left: 40px;
}
button:hover{
	cursor: pointer;
	outline: 2px lightgreen solid;
	outline-width: 3px;
	outline-offset: 1.5px;
	border: none;
	transition-duration: 0.2s;
}
footer{
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 40px;
	line-height: 40px;
}

/*-------------SCROLLBAR ON PLANNER------------*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}