*{
	margin: 0;
	padding: 0;
}
header{
	border-bottom: 2px solid black;
	text-align: center;
	font-size: 24px;
	padding-bottom: 5px;
}
.indexFlexBody{
	display: grid;
	flex-direction: column;
}
.wrapper{
	display: flex;
	flex-direction: row;
}
.lijst{
	width: 250px;
	height: 425px;
	font-size: 14px;
	background-color: rgba(0,0,0,0.3);
	border-left: 2px solid black;
	border-right: 2px solid black;
	margin-left: 95px;
}
.lijst a{
	color: black;
	text-decoration: none;
	padding-left: 2px;
}
.line{
	border-left: 2px solid black;
	margin-left: 135px;
}
.line2{
	border-left: 2px solid black;
}
.gameInfo{
	margin: 0 auto;
	width: 750px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	padding: 0px 20px;
}
.gameInfo > img{
	width: 45%;
	height: 45%;
	margin: 0 auto;
}
.planner{
	width: 250px;
	height: 425px;
	font-size: 14px;
	background-color: rgba(0,0,0,0.3);
	border-left: 2px solid black;
	border-right: 2px solid black;
	margin-left: 125px;
}
#chooseGame{
	border: 1px solid black;
	padding: 1px;
	width:200px;
	height: 20px;
	border-radius: 2px;
	margin: 2px 0px;
}
h2{
	padding-left: 2px;
	border-bottom: 1px solid black;
	text-align: center;
}
a{
	color: black;
	text-decoration: none;	
}
label{
	display: inline-block;
  	width:200px;
  	padding: 2px 0px;

}
form{
	background-color: rgba(0,0,0,0.3);
}
input{
	border: 1px solid black;
	padding: 1px;
	width:200px;
	height: 18px;
	border-radius: 2px;
}
form p{
	padding: 0px 2px;
}
.btn{
	outline: none;
	position: relative;
	left: 307px;
	top: 5px;
	background-color: white;
	padding: 5px;
	border: none;
	border-radius: 2px;
}
.update_btn{
	outline: none;
	position: relative;
	background-color: white;
	top: 5px;
	padding: 5px;
	border: none;
	border-radius: 2px;
	color: black;
}
footer{
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 40px;
	line-height: 40px;
}